[uwsgi]
{% if uwsgi.touch_reload %}
touch-reload = {{ uwsgi.touch_reload }}
{% endif %}
chdir = {{ project.root }}

env = DJANGO_SETTINGS_MODULE={{ django.settings_module }}
env = PYTHONPATH={{ project.root }}

home = {{ virtualenv_path }}

# Django's wsgi file
module = {{ project.name }}.wsgi:application

master = true

processes = 10

socket = {{ nginx.socket_file }}

chown-socket = www-data

uid = www-data

gid = www-data

# clear environment on exit
vacuum = true
