[unix_http_server]
file={{ supervisor.socket_file }}

[supervisord]
logfile=/var/log/supervisord/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
pidfile=/var/run/supervisord.pid
nodaemon=false
minfds=1024 
minprocs=200
user=root
childlogdir=/var/log/supervisord/

[inet_http_server]
port = *:9001
username = {{ project.user }}
password = {{ project.user_password }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor.socket_file }}

[include]
files = /etc/supervisor/*.conf
