<div class="alert alert-danger fade in" role="alert">
  <p>Are you sure you would like to remove user {{fullName}}?.</p>
  <p>
    <button type="button" class="btn btn-xs btn-danger">Delete</button>
    <button type="button" class="btn btn-xs btn-default">Cancel</button>
  </p>
</div>
