<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="input-group input-group-sm">
        {{input type="text" value="Filter" placeholder="Filter..." class="form-control"}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </div>
    <div class="col-md-2">
      {{link-to "Preview" "admin.templates.preview" class='btn btn-primary btn-sm'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      {{#if model}}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each template in model}}
              <tr>
                <td>{{template.name}}</td>
                <td>
                  {{#link-to "admin.templates.template.render" template title="Render"}}
                    <span class="glyphicon glyphicon-eye-open"></span>
                  {{/link-to}}
                  {{#link-to "admin.templates.template" template title="Details"}}
                    <span class="glyphicon glyphicon-list"></span>
                  {{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
    <div class="col-md-7 details-pane">
      {{outlet}}
    </div>
  </div>
</div>
