<div class="row">
  <div class="small-4 columns">
    {{link-to "Preview" "admin.templates.preview" class='button'}}
  </div>
</div>
{{#if model}}
<div class="row">
  <div class="small-5 columns">
    {{#each model as |template|}}
      <div class="row">
        <div class="small-10 columns">
          {{link-to template.name "admin.templates.template" template title="Details" class="button secondary small expand"}}
        </div>
        <div class="small-2 columns">
          {{#link-to "admin.templates.template.render" template title="Render" class="button small"}}
            <i class="fi-projection-screen"></i>
          {{/link-to}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="small-7 columns">
    {{outlet}}
  </div>
</div>
{{/if}}
