[
  {
    "model": "users.user",
    "fields": {
      "username": "{{ django_superuser_username }}",
      "password": "{{ django_superuser_password }}",
      "full_name": "{{ django_superuser_full_name }}",
      "email": "{{ django_superuser_email }}",
      "is_superuser": true,
      "is_staff": true
    }
  }

]
