<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      {{#if model}}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each}}
              <tr>
                <td>{{name}}</td>
                <td>
                  {{#link-to "team.edit" this title="Edit"}}
                    <span class="glyphicon glyphicon-edit"></span>
                  {{/link-to}}
                  {{#link-to "team.delete" this title="Delete"}}
                    <span class="glyphicon glyphicon-remove"></span>
                  {{/link-to}}
                  {{#link-to "team" this title="Details"}}
                    <span class="glyphicon glyphicon-list"></span>
                  {{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
    <div class="col-md-7 details-pane">
      {{outlet}}
    </div>
  </div>
</div>
