<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">User details</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Full name</th>
        <th>Username</th>
        <th>email</th>
        <th>Teams</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{fullName}}</td>
          <td>{{username}}</td>
          <td>{{email}}</td>
          <td>{{#each team in teams}}{{team.name}},{{/each}}</td>
        </tr>
    </tbody>
  </table>
</div>
