<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="input-group input-group-sm">
        {{input type="text" value=searchText placeholder="Search..." class="form-control"}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"</span></span>
      </div>
    </div>
    <div class="col-md-2">
      {{link-to 'Add user' 'admin.users/add' class='btn btn-primary btn-sm'}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      {{#if model}}
        <table class="table">
          <thead>
            <tr>
              <th>Full name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each searchResults}}
              <tr>
                <td>{{fullName}}</td>
                <td>
                  {{#link-to "user.edit" this title="Edit"}}
                    <span class="glyphicon glyphicon-edit"></span>
                  {{/link-to}}
                  {{#link-to "user.delete" this title="Delete"}}
                    <span class="glyphicon glyphicon-remove"></span>
                  {{/link-to}}
                  {{#link-to "user" this title="Details"}}
                    <span class="glyphicon glyphicon-list"></span>
                  {{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
    <div class="col-md-7 details-pane">
      {{outlet}}
    </div>
  </div>
</div>
