<div class="row main-pane">
  <div class="small-5 small-centered columns">
    <form>
      <div class="row collapse">
        <div class="small-10 columns">
          {{view "select"
                 content=model
                 optionValuePath="content.id"
                 optionLabelPath="content.name"
                 selection=selectedSlideshow}}
        </div>
        <div class="small-2 columns">
          <button type="submit" class="postfix">Go!</button>
        </div>
      </div>
    </form>
    {{#if selectedSlideshow}}
      <h4>Template names in {{selectedSlideshow.name}}</h4>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Template name</th>
          </tr>
        </thead>
        <tbody>
          {{#each selectedSlideshow.templateNames as |templateName index|}}
            <tr>
              <td>{{index}}</td>
              <td>{{templateName}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
