upstream django {
    server unix://{{ nginx.socket_file }}; # for a file socket
}

server {
    listen  {{ nginx.server.port }};
    listen [::]:{{ nginx.server.port }} ipv6only=on default_server;
    server_name {{ nginx.server.name }};
    charset     utf-8;

    # max upload size
    client_max_body_size 75M;

    # location /media  {
    #    alias /path/to/your/mysite/media;  # your Django project's media files - amend as required
    # }

    # Serve static files
    location /static {
        alias {{ project_static_path }}; # your Django project's static files - amend as required
    }

    # Send all non-static requests to the Django server.
    location / {
        uwsgi_pass  django;
        include {{ uwsgi.params_file }};
    }
}
