<a data-dropdown="drop-delete-{{resource.id}}" class="button small alert" data-options="align:right"><i class="fi-x"></i></a>
<div id="drop-delete-{{resource.id}}" class="f-dropdown content tiny">
  <p>Are you sure?</p>
  <a class="button tiny alert" {{action "delete"}}>Delete</a>
  <a class="button tiny" {{action "cancel"}}>Cancel</a>
</div>
