<span class="glyphicon glyphicon-remove"></span>
<div class="delete-confirmation-popover-content hide">
  <button type="button" class="btn btn-xs btn-danger" {{action "delete"}}>Delete</button>
  <button type="button" class="btn btn-xs btn-default" {{action "cancel"}}>Cancel</button>
</div>
