<a {{bind-attr data-dropdown=dataDropdownId}} class="button small alert" data-options="align:right"><i class="fi-x"></i></a>
<div {{bind-attr id=dataDropdownId}} class="f-dropdown content tiny">
  <p>Are you sure?</p>
  <a class="button tiny alert" {{action "delete"}}>Delete</a>
  <a class="button tiny" {{action "cancel"}}>Cancel</a>
</div>
