[
  {
    "model": "users.user",
    "fields": {
      "username": "{{ django.superuser.username }}",
      "password": "{{ django.superuser.password }}",
      "full_name": "{{ django.superuser.full_name }}",
      "email": "{{ django.superuser.email }}",
      "is_superuser": true
    }
  }

]
