<div class="panel">
  <div class="row">
    <div class="small-3 columns"><strong>ID</strong></div>
    <div class="small-9 columns">{{id}}</div>
  </div>
  <div class="row">
    <div class="small-3 columns"><strong>Name</strong></div>
    <div class="small-9 columns">{{name}}</div>
  </div>
  <div class="row">
    <div class="small-3 columns"><strong>Team</strong></div>
    <div class="small-9 columns">{{link-to team.name "admin.teams.team" team}}</div>
  </div>
</div>

{{#if templates}}
  <div class="panel">
    <h4>Templates</h4>
    {{#each template in templateList}}
    <div>
      {{link-to template.name "admin.templates.template" template.key}}
    </div>
    {{/each}}
  </div>
{{/if}}
