{{#if isLoading}}
  {{partial "loading"}}
{{else}}
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
            Rendered template
          </a>
        </h4>
      </div>
      <div id="collapse-one" class="panel-collapse collapse in">
        <div class="panel-body">
          {{rendered-template renderResult}}
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-two">
            Rendered template (raw string)
          </a>
        </h4>
      </div>
      <div id="collapse-two" class="panel-collapse collapse">
        <div class="panel-body">
          {{renderResult}}
        </div>
      </div>
    </div>
  </div>
{{/if}}


