{{#if isLoading}}
  <div class="row">
    <div class="small-3 small-centered column">
      {{partial "loading"}}
    </div>
  </div>
{{else}}
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel-rendered-html">Rendered template</a>
      <div id="panel-rendered-html" class="content active">
        {{rendered-template renderResult}}
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel-rendered-raw">Rendered template (raw string)</a>
      <div id="panel-rendered-raw" class="content">
        {{renderResult}}
      </div>
    </li>
  </ul>
{{/if}}
