[program:celerybeat]
command={{ virtualenv_path }}/bin/celery beat -A {{ project_name }} --schedule={{project_celery_conf_path}}/celerybeat-schedule --loglevel=INFO --pidfile=/tmp/{{ project_name }}_celerybeat.pid

environment=PYTHONPATH={{ project_root }},DJANGO_SETTINGS_MODULE={{ django_settings_module }}
user={{ project_user }}
numprocs=1
stdout_logfile=/var/log/celery/beat.log
stderr_logfile=/var/log/celery/beat.log
autostart=true
autorestart=true
startsecs=10

; if redis is supervised, set its priority higher
; so it starts first
priority=999
