<div class="panel">
  <div class="row">
    <div class="small-3 columns"><strong>Username</strong></div>
    <div class="small-9 columns">{{username}}</div>
  </div>
  <div class="row">
    <div class="small-3 columns"><strong>Full name</strong></div>
    <div class="small-9 columns">{{fullName}}</div>
  </div>
  <div class="row">
    <div class="small-3 columns"><strong>email</strong></div>
    <div class="small-9 columns">{{email}}</div>
  </div>
</div>

{{#if teams}}
  <div class="panel">
    <h4>Teams</h4>
    {{#each team in teams}}
    <div>
      {{link-to team.name  'admin.teams.team' team}}
    </div>
    {{/each}}
  </div>
{{/if}}

